#finance-form {
    -fx-background-color: #D0D6E2;
}

#options-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20 20 20 20;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#options-background {
    -fx-background-radius: 20 20 20 20;
    -fx-border-color: #3366FF;
    -fx-border-radius: 20 20 20 20;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgb(51, 102, 255, 1), 30, 0, 0, 0);
}

#options-blur {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: linear-gradient(to right, #3366FF, #678ff6);
    -fx-border-radius: 20 20 20 20;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

#confirm-button {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #3366FF;
    -fx-border-radius: 20 20 20 20;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgb(51, 102, 255, 1), 10, 0, 0, 0);
}

#email-field, #password-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 50 50 50 50;
    -fx-prompt-text-fill: derive(#aaaaaa, -30%);
}