#finance-form {
    -fx-background-color: #D0D6E2;
}

#signIn-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20 0 0 20;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#signUp-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 20 20 0;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#confirm-signIn-button, #confirm-signUp-button {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: linear-gradient(to right, #3366FF, #678ff6);
    -fx-border-radius: 20 20 20 20;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgb(103, 143, 246, 1), 30, 0, 0, 0);
}

#email-field, #confirmpassword-field, #password-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 50 50 50 50;
    -fx-prompt-text-fill: derive(#aaaaaa, -30%);
}