#top-panel {
    -fx-background-color: #3366FF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}

#left-panel, #center-panel, #bottom-panel {
    -fx-background-color: #D0D6E2;
}

#left-panel-rectangle {
    -fx-background-color: #3366FF;
    -fx-background-radius: 0 40 40 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

#bottom-panel-circle {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}