#top-panel {
    -fx-background-color: #3366FF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}

#left-panel, #bottom-panel, #center-panel {
    -fx-background-color: #c3c8d0;
}

#left-panel-rectangle {
    -fx-background-color: #3366FF;
    -fx-background-radius: 0 40 40 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

#bottom-panel-circle {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

#general-card, #account-card, #creditcard-card, #expense-card, #planning-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20 20 20 20;
    -fx-effect: dropshadow(three-pass-box, rgb(51, 102, 255, 0.5), 20, 0, 0, 0);
}